html {
  font-size: $font-size;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-weight: normal;
  font-size: 100%;
  line-height: 1.45;
  font-family: $primary-font;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: $base-color;
  background-color: #ffffff;
}

.container {
  @include make-container();
}

a {
  color: $link-color;
  outline: none;

  &:hover {
    color: mix(#000, $link-color, 10%);
  }
}

h1,
h2,
h3,
h4 {
  margin-top: 0.7em;
  margin-bottom: 0.5em;
}

h1,
.h1 {
  font-size: rem(32);
}

h2,
.h2 {
  font-size: rem(27);
}

h3,
.h3 {
  font-size: rem(24);
}

h4,
.h4 {
  font-size: rem(21);
}

p {
  margin-top: 0;
  margin-bottom: 0.6em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.visually-hidden {
  @include visually-hidden();
}
