// Proxima Nova

@font-face {
  font-family: "proxima_nova";
  src: url("fonts/proxima_nova/proxima_nova_light-webfont.woff2") format("woff2"), url("fonts/proxima_nova/proxima_nova_light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("fonts/proxima_nova/proxima_nova_regular-webfont.woff2") format("woff2"), url("fonts/proxima_nova/proxima_nova_regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("fonts/proxima_nova/proxima_nova_semibold-webfont.woff2") format("woff2"), url("fonts/proxima_nova/proxima_nova_semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("fonts/proxima_nova/proxima_nova_bold-webfont.woff2") format("woff2"), url("fonts/proxima_nova/proxima_nova_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("fonts/proxima_nova/proxima_nova_extrabold-webfont.woff2") format("woff2"), url("fonts/proxima_nova/proxima_nova_extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova";
  src: url("fonts/proxima_nova/proxima_nova_black-webfont.woff2") format("woff2"), url("fonts/proxima_nova/proxima_nova_black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}


// Akrobat

@font-face {
  font-family: "Akrobat";
  src: local("Akrobat Thin"), local("Akrobat-Thin"), url("fonts/akrobat/Akrobatthin.woff2") format("woff2"), url("fonts/akrobat/Akrobatthin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: local("Akrobat ExtraLight"), local("Akrobat-ExtraLight"), url("fonts/akrobat/Akrobatextralight.woff2") format("woff2"), url("fonts/akrobat/Akrobatextralight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: local("Akrobat Light"), local("Akrobat-Light"), url("fonts/akrobat/Akrobatlight.woff2") format("woff2"), url("fonts/akrobat/Akrobatlight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: local("Akrobat"), local("Akrobat-Regular"), url("fonts/akrobat/Akrobat.woff2") format("woff2"), url("fonts/akrobat/Akrobat.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: local("Akrobat SemiBold"), local("Akrobat-SemiBold"), url("fonts/akrobat/Akrobatsemibold.woff2") format("woff2"), url("fonts/akrobat/Akrobatsemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: local("Akrobat Bold"), local("Akrobat-Bold"), url("fonts/akrobat/Akrobatbold.woff2") format("woff2"), url("fonts/akrobat/Akrobatbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: local("Akrobat ExtraBold"), local("Akrobat-ExtraBold"), url("fonts/akrobat/Akrobatextrabold.woff2") format("woff2"), url("fonts/akrobat/Akrobatextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Akrobat";
  src: local("Akrobat Black"), local("Akrobat-Black"), url("fonts/akrobat/Akrobatblack.woff2") format("woff2"), url("fonts/akrobat/Akrobatblack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}


// bruskovayaplain

@font-face {
  font-family: "bruskovayaplain";
  src: url("fonts/bruskovayaplain/bruskovaya-plain.woff2") format("woff2"), url("fonts/bruskovayaplain/bruskovaya-plain.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}


// Open Sans
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light"), local("OpenSans-Light"), url("fonts/open_sans/opensanslight.woff2") format("woff2"), url("fonts/open_sans/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("fonts/open_sans/opensanslightitalic.woff2") format("woff2"), url("fonts/open_sans/opensanslightitalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"), url("fonts/open_sans/opensans.woff2") format("woff2"), url("fonts/open_sans/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("fonts/open_sans/opensansitalic.woff2") format("woff2"), url("fonts/open_sans/opensansitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("fonts/open_sans/opensanssemibold.woff2") format("woff2"), url("fonts/open_sans/opensanssemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("fonts/open_sans/opensanssemibolditalic.woff2") format("woff2"), url("fonts/open_sans/opensanssemibolditalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("fonts/open_sans/opensansbold.woff2") format("woff2"), url("fonts/open_sans/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("fonts/open_sans/opensansbolditalic.woff2") format("woff2"), url("fonts/open_sans/opensansbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("fonts/open_sans/opensansextrabold.woff2") format("woff2"), url("fonts/open_sans/opensansextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("fonts/open_sans/opensansextrabolditalic.woff2") format("woff2"), url("fonts/open_sans/opensansextrabolditalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}
