// Colors
$base-color: #232020;
$accent-color: #18898A;
$primary-color: #48466D;
$secondary-color: #3D84A8;

$success-color: #11fd6d;
$info-color: #b9dfff;
$warning-color: #edf512;
$danger-color: #fd0d4d;

$white-color: #ffffff;
$black-color: #000000;
$light-color: #e4e4e4;
$muted-color: #7a7a7a;
$link-color: $accent-color;


// Fonts
$font-size: 18px;
$primary-font: "Akrobat", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$secondary-font: inherit;

$duration: 0.25s;
$border-radius: 2px;

// Grid
$grid-columns: 12;
$gutter: 30px;
