.page {

}

.page__content {
  position: relative;
}

.page__breadcrumbs {
  @include make-container();

  min-height: 60px;
}

.page__headline {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: ($gutter * 2);
  padding-left: ($gutter / 2);
  padding-right: ($gutter / 2);
  text-align: center;
}

.page__title {
  margin: 0;
  margin-bottom: $gutter;
  line-height: 1.2;
  font-size: rem(36);
  font-family: $secondary-font;
}

.page__intro {
  font-weight: 300;
  font-size: rem(20);

  & > :last-child {
    margin-bottom: 0;
  }
}

.page__text {
  font-size: rem(14);
}
