.popup {
  width: calc(100% - #{($gutter / 2)});
  max-width: 500px;
  padding: 40px;
  border-radius: 4px;
}

.popup__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.15;
  text-align: center;
}
